@font-size-xxs: 0.354em;
@font-size-xs: 0.5em;
@font-size-s: 0.707em;
@font-size-m: 1em;
@font-size-ml: 1.1665em;
@font-size-l: 1.414em;
@font-size-xl: 1.999em;
@font-size-xxl: 2.827em;
@font-size-xxxl: 3.998em;

@font-size-small: @font-size-s;
@font-size-normal: @font-size-m;
@font-size-h4: @font-size-l;
@font-size-h3: @font-size-xl;
@font-size-h2: @font-size-xxl;
@font-size-h1: @font-size-xxxl;

@font-line-height-m: 1.45;
@font-line-height-l: 1.2;

@font-weight-m: 400;

@font-margin-p-m: 1.3em;
@font-h-1-margin-top: 0;
@font-h-1-4-margin-top: 1.414em;
@font-h-1-4-margin-left-right: 0;
@font-h-1-4-margin-bottom: 0.5em;

html {
  font-size: @font-size-m;
  body {
    font-size: @font-size-m;
    font-family: 'Lato', serif;
    font-weight: @font-weight-m;
    line-height: @font-line-height-m;
    color: #4D4C49;

    &.dunkel{
      color: #eee;
      background-color: #4D4C49;

      .container.main{
        background-color: #4D4C49;
      }
      .navbar-default {
        background-color: #4D4C49;
        border-color: #2F2E2D;
        color: rgb(238, 238, 238);

        .navbar-nav{
          a{
            color: rgb(238, 238, 238);

            &:hover{
              color: #ff6347;
            }
          }
          .dropdown{
            >.dropdown-menu{
              background-color: #373634;
              color: rgb(238, 238, 238);
              >li>a, >a{
                color: rgb(238, 238, 238);

                &:hover{
                  background-color: #ff6347;
                }
              }

              .divider {
                background-color: #2F2E2D;
              }
            }
          }
          >.open>a, >.open>a:focus, >.open>a:hover {
            color: #eee;
            background-color: #373634;
          }
          >.active{
            >a{
              color: #FF6347;
              background-color: #373634;
            }
          }

        }

        a{
          color: rgb(238, 238, 238);
        }
      }
      .modal{
        color: #4D4C49;
      }
    }

    p {margin-bottom: @font-margin-p-m;}

    h1, h2, h3, h4 {
      margin: @font-h-1-4-margin-top @font-h-1-4-margin-left-right @font-h-1-4-margin-bottom;
      font-weight: inherit;
      line-height: @font-line-height-l;
    }

    h1 {
      margin-top: @font-h-1-margin-top;
      font-size: @font-size-xxxl;
    }

    h2 {font-size: @font-size-xxl;}

    h3 {font-size: @font-size-xl;}

    h4 {font-size: @font-size-l;}

    small, .font_small {font-size: @font-size-s;}
  }
}

*{
  transition: all 300ms ease;
}

.logo-top{
  font-size: 30px;
  margin-top: -5px;
}

.last{
  opacity: .3;
}

.table{
  margin-bottom: 0px;
  &.table-without-borders{
    >tbody>tr:first-child>td{
      border-top: 0px solid #ddd;
    }
  }
}

.fenster{
  position: absolute;
  border: 2px solid #ff6347;
  border-radius: 4px;
  width: 568px;
  height: 170px;
  left: 395px;
  top: 245px;
  display: none;

  &:before{
    content: " ";
    display: block;
    border-top: 2px solid #ff6347;
    position: relative;
    left: -302px;
    top: 85px;
    width: 300px;
  }
  &:after{
    content: " ";
    display: block;
    border-top: 2px solid #ff6347;
    position: relative;
    left: 566px;
    top: 85px;
    width: 300px;
  }
}

.modal-footer {
  padding: 5px;

  .btn-a-close{
    padding: 10px;
    text-decoration: none;
    text-decoration: none;
    color: #000;
    transition: all .5s ease;

    &:hover{
      background: #ae4343;
      color: #e9e9e9 !important;
    }
  }
}

.container{
  &.main{
    border: 2px solid #FF6347;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
//    min-height: 80vh;
    margin-bottom: 50px;

    footer.for-container{
      background-color: #ff6347;
      color: #fff;
      /* min-height: 50px; */
      /* max-height: 55px; */
      clear: both;
      margin: -30px -15px -48px -15px;
      position: relative;
      top: -60px;
      font-size: 1.999em;
      padding-top: 2px;
      overflow: hidden;
      float: none;
    }
  }
}

.btn-oslot {
  background: #FF6347;
  color: #fff;
  box-shadow: 0 6px #ad4130;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.60);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;

  .erklaerung{
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    font-size: @font-size-xl;
    padding: 15px 30px;
    vertical-align: baseline;
    border-top: 2px solid #FF6347;
    border-bottom: 2px solid #FF6347;
    margin-top: 50px;
  }
}

.start-btn{
  width: 150px;
  height: 150px;
  font-size: 7rem;
  padding: 0px 28px;
  background: #17954c;
  color: #fff;
  box-shadow: 0 6px #146c36;

  &:hover{
    box-shadow: 0 4px #146c36;
  }

  &:active{
    box-shadow: 0 0 #13592d;

  }
}

.hide-animate{
  opacity: 0;

  &.hide{
    display: none;
  }
}

.dropdown-menu{
  >li>.btn-toggle{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
}

div.derzeitigepointanzeige{
  position: absolute;
  font-size: @font-size-m;
  top: 348px;
  opacity: 0;
  transition: all 300ms ease;

  &[data-tooltip]:before {
    position: absolute;
    left: 0;
    top: -40px;
    background-color: #ff6347;
    color: #fff;
    /* height: 30px; */
//    line-height: px;
    border-radius: 5px;
    padding: 0 15px;
    content: attr(data-tooltip);
    white-space: nowrap;
    display: block;
    font-size: 2.4em;
  }
  &[data-tooltip]:after {
    position: absolute;
    left: 96px;
    top: -20px;
    border-left: 7px solid #ff6347;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: block;
  }

  &[data-tooltip="+150"] {
    margin-left: -25px;
  }
  &[data-tooltip="+150"]:after {
    left: 119px;
  }

  &[data-tooltip="-50"] {
//    margin-left: -25px;
  }
  &[data-tooltip="-50"]:after {
    left: 88px;
  }

  &.show{
    opacity: 1;
  }
}

@animation-drehungen: 1;
@animation-zeit: 1200ms;
@animation-reset-zeit: 200ms;
@animation-bezier: ease-in-out;
//@animation-bezier: cubic-bezier(1, 0, 0, 1);

@diedre-top: 0px;
@diedre-bottom: -7392px;

.spin{
  font-size: 8.5em;
  height: 580px;
  overflow: hidden;
  line-height: 1.3em;

  .spin-inner{
    transition: all 0s;

    &.dreh {
      -webkit-animation: dieDrehung @animation-zeit @animation-drehungen @animation-bezier; /* Safari 4+ */
      -moz-animation:    dieDrehung @animation-zeit @animation-drehungen @animation-bezier; /* Fx 5+ */
      -o-animation:      dieDrehung @animation-zeit @animation-drehungen @animation-bezier; /* Opera 12+ */
      animation:         dieDrehung @animation-zeit @animation-drehungen @animation-bezier; /* IE 10+, Fx 29+ */

      &.end{
        margin-top: @diedre-bottom;
      }
    }

    [class^="ofont-"], [class*=" ofont-"]{
    }

    .checked{
      color: #ff6347;
    }
  }
}

.keyframe-def-anim-one(@diedre-bottom){
  0%   { margin-top: 0px; }
  100% { margin-top: @diedre-bottom; }
}

@-webkit-keyframes dieDrehung {
  .keyframe-def-anim-one(-7392px);
}
@-moz-keyframes dieDrehung {
  .keyframe-def-anim-one(-7392px);
}
@-o-keyframes dieDrehung {
  .keyframe-def-anim-one(-7392px);
}
@keyframes dieDrehung {
  .keyframe-def-anim-one(-7392px);
}

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

@media (max-width: @screen-xs-max) {
  .spin {
    font-size: 4.5em;
    height: 50vh;
  }
  div.derzeitigepointanzeige {
    top: 285px;
    display: none !important;
  }
  .container.main footer.for-container {
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: initial;
    right: 0px;
    font-size: 1.3em;
  }
  .btn-2i.btn-oslot.hebel-btn {
    width: 65px;
    height: 65px;
  }
  .spin .spin-inner.dreh.end {
    margin-top: -3903px;
  }

  @-webkit-keyframes dieDrehung {
    .keyframe-def-anim-one(-3903px);
  }
  @-moz-keyframes dieDrehung {
    .keyframe-def-anim-one(-3903px);
  }
  @-o-keyframes dieDrehung {
    .keyframe-def-anim-one(-3903px);
  }
  @keyframes dieDrehung {
    .keyframe-def-anim-one(-3903px);
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .spin {
    font-size: 6.5em;
    height: 500px;
  }
  div.derzeitigepointanzeige {
    top: 285px;
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}
@media (min-width: @screen-lg-min){

}



body{
  &.firefox, &.mozilla{
    .spin{
      .spin-inner{
        &.dreh {
          -moz-animation:    dieDrehung @animation-zeit @animation-drehungen @animation-bezier; /* Fx 5+ */
          &.end{
            margin-top: @diedre-bottom - 34;
          }
        }
      }
    }
  }
}