@font-face {
	font-family: 'ozansiconfont';
	src:url('fonts/ozansiconfont.eot?mqrvtr');
	src:url('fonts/ozansiconfont.eot?#iefixmqrvtr') format('embedded-opentype'),
		url('fonts/ozansiconfont.ttf?mqrvtr') format('truetype'),
		url('fonts/ozansiconfont.woff?mqrvtr') format('woff'),
		url('fonts/ozansiconfont.svg?mqrvtr#ozansiconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ofont-"], [class*=" ofont-"] {
	font-family: 'ozansiconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ofont-droplet:before {
	content: "\e90b";
}
.ofont-dice:before {
	content: "\e915";
}
.ofont-pacman:before {
	content: "\e916";
}
.ofont-spades:before {
	content: "\e917";
}
.ofont-clubs:before {
	content: "\e918";
}
.ofont-diamonds:before {
	content: "\e919";
}
.ofont-coin-dollar:before {
	content: "\e93b";
}
.ofont-stopwatch:before {
	content: "\e952";
}
.ofont-spinner11:before {
	content: "\e984";
}
.ofont-cog:before {
	content: "\e994";
}
.ofont-bug:before {
	content: "\e999";
}
.ofont-trophy:before {
	content: "\e99e";
}
.ofont-fire:before {
	content: "\e9a9";
}
.ofont-play3:before {
	content: "\ea1c";
}
.ofont-stop2:before {
	content: "\ea1e";
}
.ofont-loop2:before {
	content: "\ea2e";
}
.ofont-infinite:before {
	content: "\ea2f";
}
.ofont-embed2:before {
	content: "\ea80";
}
