@ofont-droplet: "\e90b";
@ofont-dice: "\e915";
@ofont-pacman: "\e916";
@ofont-spades: "\e917";
@ofont-clubs: "\e918";
@ofont-diamonds: "\e919";
@ofont-coin-dollar: "\e93b";
@ofont-stopwatch: "\e952";
@ofont-spinner11: "\e984";
@ofont-cog: "\e994";
@ofont-bug: "\e999";
@ofont-trophy: "\e99e";
@ofont-fire: "\e9a9";
@ofont-play3: "\ea1c";
@ofont-stop2: "\ea1e";
@ofont-loop2: "\ea2e";
@ofont-infinite: "\ea2f";
@ofont-embed2: "\ea80";
