@font-face {
	font-family: 'icons';
	src:url('icons.eot?y9wyo1');
	src:url('icons.eot?#iefixy9wyo1') format('embedded-opentype'),
		url('icons.woff?y9wyo1') format('woff'),
		url('icons.ttf?y9wyo1') format('truetype'),
		url('icons.svg?y9wyo1#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-radio-checked:before {
	content: "\ea55";
}

.icon-radio-unchecked:before {
	content: "\ea56";
}

.icon-github5:before {
	content: "\eab5";
}

.icon-joomla:before {
	content: "\eab8";
}

.icon-git:before {
	content: "\eae2";
}

.icon-pencil:before {
	content: "\e601";
}

.icon-disk:before {
	content: "\e602";
}

.icon-newtab:before {
	content: "\e600";
}

.icon-embed:before {
	content: "\e603";
}

.icon-code:before {
	content: "\e604";
}

.icon-console:before {
	content: "\e605";
}

.icon-share:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e607";
}

.icon-feed:before {
	content: "\e608";
}

.icon-wordpress:before {
	content: "\e609";
}

.icon-android:before {
	content: "\e60a";
}

.icon-windows8:before {
	content: "\e60b";
}

.icon-html5:before {
	content: "\e60c";
}

.icon-css3:before {
	content: "\e60d";
}

.icon-chrome:before {
	content: "\e60e";
}

.icon-in-alt:before {
	content: "\e60f";
}

.icon-heart:before {
	content: "\e618";
}

.icon-schreg:before {
	content: "\e614";
}

.icon-yl:before {
	content: "\e615";
}

.icon-yl-black:before {
	content: "\e616";
}

.icon-nz:before {
	content: "\e617";
}

.icon-sign-out:before {
	content: "\f08b";
}

.icon-level-up:before {
	content: "\f148";
}

.icon-cc:before {
	content: "\e610";
}

.icon-cc-by:before {
	content: "\e611";
}

.icon-cc-nc:before {
	content: "\e612";
}

.icon-cc-nd:before {
	content: "\e613";
}

